<footer class="footer bg-dark footer-light py-3 mt-auto" id="footer"> 
    <div class="container footer">
        <span class="text-secondary">&copy; YelpCamp 2023</span>
        <span class="text-secondary author">Made by <a href="https://github.com/RushikeshShelar" class="author ">Rushikesh Shelar</a></span>
    </div>
    
</footer>